body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#location-search {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#location-suggestions {
    margin-bottom: 20px;
}

#location-suggestions div {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-top: 2px;
    border-radius: 5px;
}

#location-suggestions div:hover {
    background-color: #f0f0f0;
}

#forecast-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.forecast-day {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}