body { 
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #73a5ff, #5477f5);
    transition: background-image 0.5s ease-in-out;
}

.container {
    background-color: rgb(67, 60, 60, 0.5);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

h1, h2{
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#forecast-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.forecast-day {
    background-color: rgb(195 213 251);
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.forecast-day:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    #forecast-container {
        flex-direction: column;
        align-items: center;
    }
}
